body {
    font-size: 18px;
}

header > h1 {
    font-size: 30px;
}

.author {
    margin: 0;
}

.page-info {
    display: block;
    margin-bottom: 10px;
}

:target {
   background-color: #ffffaa;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

nav.tags > ul {
    padding-left: 0;
    display: inline;
    list-style-type: none;
}

li.tag {
    display: inline-block;
}

li.tag:after {
    content: ', ';
}

li.tag:last-child:after {
    content: '.';
}

ol.footnotes {
    counter-reset: footnote-counter;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li.footnote:before {
    counter-increment: footnote-counter;
    content: "[" counter(footnote-counter) "] ";
}

li.footnote {
    margin-bottom: 10px;
}
